<form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">

    <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Name">
    </mat-form-field>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div formArrayName="ingredients"
             *ngFor="let control of ingredientsForm.controls; let i = index;" cdkDrag>
            <div [formGroupName]="i">



                <button type="button" (click)="removeIngredient(i)">Remove Ingredient -</button>

            </div>
        </div>
    </div>

    <button type="button" mat-button (click)="addIngredient()">Add Ingredient +</button>

    <button type="submit" mat-fab color="primary" [disabled]="!recipeForm.valid">Submit</button>

</form>
