<form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">

    <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Name">
    </mat-form-field>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let ingredient of recipeForm.get('ingredients').value; let i = index;" cdkDrag>
            <span>{{ingredient.name}}</span>
            <button type="button" (click)="openIngredientDialog(ingredient)">Edit Ingredient</button>
            <button type="button" (click)="removeIngredient(i)">Remove Ingredient</button>
        </div>
    </div>

    <button type="button" mat-button (click)="openIngredientDialog()">Add Ingredient +</button>

    <button type="submit" mat-fab color="primary" [disabled]="!recipeForm.valid">Submit</button>

</form>
